# Visual Studio
.vs/
*.suo
*.user
*.ilk
*.obj
*.pdb
*.tlb
*.tlh
*.tmp
*.bak
*.log
*.vspscc
*.vssscc
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
*.csproj.user
*.resharper
*.dotSettings
*.pidb
*.booproj
*.kproj
*.lock.json
*.nuget.props
*.nuget.targets
*.nupkg
*.appx
*.appxbundle
*.cer
*.pfx
*.snk
*.vsix
*.vsmacros
*.webtest
*.testrunconfig
*.trx
*.fxcop
*.fxcopcmd
*.scc
*.vsscc
*.vspscc
*.vssscc
*.builds
*.deploy
*.pubxml
*.publishproj

# Misc
*.log
*.cache
*.tmp
